extends layout

block content
  script(src="http://localhost:3001/socket.io/socket.io.js")
  script(src="/components/paper/dist/paper-full.js")
  
  script(type="text/paperscript" canvas="canvas" src="/js/board.js")
    
  div#container
    h1= "Collaborative board!"
    div.canvas
      canvas(id="canvas" width="600px" height="600px" resize="true" style='border: 1px solid black;')
